.form-wrapper {
    max-width: 800px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    padding: 50px;
    border-radius: 10px;
    background-color: #D6D6D6;
}

.faculty-form {
    width: 100%;
}

.faculty-form Button {
    margin-left: 20px;
    margin-right: 20px;
}